/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width:800px;
    margin: 0 auto 0 auto;
    border:solid #800000;
    background-color: #fffded;
}
/* the styles for the navigation bar */
nav {
	clear: left;
	margin: 0;
	padding: 0;
    background: #800000;
	border-bottom: 3px solid #800000;
}
nav ul {
	margin-left: 0;
	margin-bottom: .5em;
    color:white;
    font-size:17px;
	list-style: none;
	padding: .5em 2em 0 0;
}
nav li {
	display: inline;
    color:white;
	padding: 0 1.5em;
	border-right: 2px solid black;
	font-weight: bold;
}
nav li a{
    color:white;
}
nav a.current { color: yellow; }
/* the styles for the header */
hgroup img {
	float: left;
    padding-bottom: 1em;
    padding-left:30px;
    padding-right: 30px;
}
hgroup{
    background: linear-gradient(45deg, #800000, #ffffed);
    border-bottom:solid #800000;
    padding-top:1.5em;
   
    padding-bottom:1.5em;

}
hgroup h1{
padding-top:.5em;
padding-bottom:.25em;
color: #800000;

}
hgroup h2{
    font-style: italic;
    padding-bottom:0.25em
}
h1{
    font-size: 150%;
    color:#800000;
}
h2{
    font-size: 150%;
    
}
#speakers{
 color:#800000;
}
.shadow{
  text-shadow:  3px 2px 6px #800000
}
href
/* the styles for the section */
section {
    width:500px;
	clear: left;
    float:right;
    padding-left:20px;
    padding-right: 20px;
}
section Blockquote{
padding-left: 2em;
text:italic;
padding-right:2em;
}
section ul{
    padding-bottom: 1.5em;
    padding-left: 1.25em;
}
aside img{
    padding-bottom: 1em;
}
section ul li{
    padding-bottom: 0.35em;
}
footer{
    padding-top: 1em;
    padding-bottom: 1em;
border-top:solid #800000;
}
footer p{
    text-align: center;
}
.b1{
    width:500px;
    float:right;
    
}
.b2{
    width:300px;
    float: right;
    
}
aside h1{
color:black;
}
aside h2{

}
article{
    border-top: 2px;
    border-bottom: 2px;
}
.b3 img{
    float: right;
    margin:1px;
    padding-right: 2px;;
    border: 1px black;
}
.b3 h2{
    color:#800000
}
.b3 h1{
    color:black;
}
/* the styles for the footer */
/* for the luncheons*/

.b1 table th{
    border-radius: 2px solid red;
}
.b6{
    border-top:3px #800000;
}
.r1{

}
.r2{
 
}
.b1{
    border-top: 2px #800000;
}
form fieldset{
    margin:15px;
}
.space
{
    margin-bottom: 9px;
    padding-left: 53px;
}